.calls {
    width: 100%;
    background-color: var(--white);
    padding: 24px 0 40px 52px;
    border-radius: 8px;
    background-color: var(--white);
    box-shadow: 0px 4px 5px 0px var(--list-shadow);
    margin: 16px 0 120px;
}
