:root {
    // base colors
    --white: #ffffff;
    // gray colors
    --text-header: #899cb1;
    --text-secondary: #5e7793;
    --gray-border: #eaf0fa;
    --UI-Icon: #adbfdf;
    --UI-secondary: #d8e4fb;
    --text-light: #2a353f;
    --text-black: #2b2d33;
    --gray-hover: #f8fafd;
    // blue colors
    --text: #122945;
    --UI-accent: #002cfb;
    --light-blue: #dee4fe;
    // green colors
    --text-green: #00a775;
    --UI-light-green: #dbf8ef;
    --UI-green: #28a879;
    // red colors
    --UI-light-red: #fee9ef;
    --UI-red: #ea1a4f;

    // shadow-colors
    --list-shadow: #e9edf3;
}
